<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jt.mapper.UserMapper">

    <select id="findAll" resultType="User">
        select *
        from user
    </select>

    <select id="findUserByUP" resultType="User">
        select *
        from user
        where username = #{username}
          and password = #{password}
    </select>

    <!--表面必须小写 ctrl shift u
        (!) Query 属性可能有值，可能没值-->
    <select id="findUserList" resultType="User">
        select * from user
        <where>
            <if test="query !=null and query !=''">
                username like "%"#{query}"%"
            </if>
        </where>
        limit #{start},#{size}
    </select>

    <insert id="addUser">
        insert into user value (null, #{username}, #{password}, #{phone}, #{email}, #{status}, #{created}, #{updated})
    </insert>

    <update id="updateUser">
        update user
        set phone   = #{phone},
            email   = #{email},
            updated = #{updated}
        where id = #{id}
    </update>
</mapper>