<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace是mybatis映射文件的唯一标识,与接口对应
    -->
<mapper namespace="com.jt.mapper.DeptMapper">

    <select id="findAll" resultMap="deptRM">
        select dept.dept_name, emp.*
        from dept,
             emp
        where emp.dept_id = dept.dept_id
    </select>

    <resultMap id="deptRM" type="Dept" autoMapping="true">
        <!--标识主键-->
        <id column="dept_id" property="deptId"/>
        <!--一对多封装 固定搭配 ofType-->
        <collection property="emps" autoMapping="true" ofType="Emp">
            <!--标识主键-->
            <id column="id" property="id"/>
        </collection>
    </resultMap>

</mapper>
